@model IPagedList<TourTemplate>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using X.PagedList

@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    <script src="~/Asset/js/Tourtemplate/TourtemplateControl.js"></script>

}
<section class="content-header">
    <h1>
        Danh sách tour template
        @*<small></small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a asp-action="index">danh sách tour template</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <form asp-action="index" method="get">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group">
                                <input type="text" placeholder="Tìm code, tên tour, chủ đề tour" class="form-control" name="searchString" value="@ViewData["currentFilter"]" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                     @if (Context.Session.GetString("Admin").ToString().ToLower() == "true")
                                     {
                                        <a asp-action="create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                     }
                                </span>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="col-md-12" style="overflow-x:auto">
                    <table class="table text-nowrap mytable">
                        <thead>
                            <tr>
                                <th class="text-center" width="10%"><i class="fa fa-gear"></i></th>
                                <th>ID</th>
                                <th>Loại tour</th>
                                <th>
                                    Tên tour
                                </th>
                                <th>
                                    Chủ đề tour
                                </th>
                                <th>
                                    Số ngày
                                </th>
                                <th>
                                    Chi nhánh
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                
                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.Code"><i class="fa fa-edit"></i></a> |
                                        @if (item.nguoitao == Context.Session.GetString("username"))
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Code" class="text-danger" onclick="return confirm ('Xóa tour template này ? Lưu ý, khi xoá sẽ xoá luôn chương trình của tour này?')"><i class="fa fa-trash"></i></a>
                                        }
                                        else
                                        {
                                           <i class="fa fa-trash"></i>
                                        }

                                    </td>


                                    <td class="text-center">
                                        @item.Code
                                    </td>
                                    <td class="text-center">@item.Tourkind</td>
                                    <td>
                                        @item.Tentour
                                    </td>
                                    <td>
                                        @item.Chudetour
                                    </td>
                                    <td class="text-center">
                                        @item.Songay
                                    </td>
                                    <td class="text-center">
                                        @item.Chinhanh
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager((IPagedList)ViewBag.tourtemp, page => Url.Action("index", new { page, searchString = @ViewData["currentFilter"] }),
                   PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            MaximumPageNumbersToDisplay = 5,
                            UlElementClasses = new[] { "pagination" },
                            ContainerDivClasses = new[] { "pagination-container" }
                        }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))


                </div>
            </div>
        </div>
    </div>
</section>

