@model IPagedList<Supplier>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using X.PagedList

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>
        @*  *@
        Danh sách Supplier
        @*<small></small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a asp-action="index">Danh sách supplier</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <form asp-action="index" method="get">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group">
                                <input type="text" placeholder="Tìm thông tin nhà cung cấp" class="form-control" name="searchString" value="@ViewData["currentFilter"]" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    <a asp-action="create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </span>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="col-md-12" style="overflow-x:auto">
                    <table class="table text-nowrap mytable">
                        <thead>
                            <tr>
                                <th class="text-center" width="10%"><i class="fa fa-gear"></i></th>
                                <th> Code </th>
                                <th> Code CN </th>
                                <th>Tên giao dịch</th>
                                <th>Tên thương mại</th>
                                <th> Địa chỉ </th>
                                <th> Thành phố </th>
                                <th> CN </th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <a asp-action="Edit" asp-route-id="@item.Code"><i class="fa fa-edit"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.Code" class="text-danger" onclick="return confirm ('Xóa Nhà cung cấp @item.Tengiaodich ?')"><i class="fa fa-trash"></i></a>
                                    </td>
                                    <td>@item.Code </td>
                                    <td>@item.Codecn</td>
                                    <td>@item.Tengiaodich</td>
                                    <td>@item.Tenthuongmai</td>
                                    <td>@item.Diachi</td>
                                    <td>@item.Thanhpho</td>
                                    <td class="text-center">@item.Chinhanh</td>
                                    <td class="text-center"> @Html.Raw((bool)item.Trangthai ? "<span class=\"label label-success\">Kích hoạt</span>" : "<span class=\"label label-danger\">Khóa</span>")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager((IPagedList)ViewBag.supplier, page => Url.Action("index", new { page,  searchString = @ViewData["currentFilter"] }),
                   PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }, MaximumPageNumbersToDisplay = 5, UlElementClasses = new[] { "pagination" },
                   ContainerDivClasses = new[] { "pagination-container" } }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
                </div>
            </div>
        </div>

    </div>
</section>



