@model Tourprog

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="modal-title text-uppercase">Chọn loại dịch vụ (cần chèn) </h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool dong"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form id="frmInsertSrvTourProg" method="post" asp-action="InsertTourSrvProg">
                    <input type="hidden" name="Oldstt" value="@ViewBag.stt" />
                    <input type="hidden" asp-for="sgtcode" id="txtInsertSrvCode" />
                    <input type="hidden" asp-for="stt" />
                    <input type="hidden" asp-for="pax" />
                    <input type="hidden" asp-for="childern" />
                    <div class="form-group col-md-4">
                        <label class="control-label">Loại dịch vụ</label>
                        <select asp-for="srvtype" asp-items="@ViewBag.dichvu" id="ddlAddSrv" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Loại tiền</label>
                        <select asp-for="currency" asp-items="@ViewBag.ngoaite" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Ngày thứ</label>
                        <input asp-for="date" class="form-control text-center" id="txtNgay" />
                        <span id="iktSongay"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">VAT vào</label>
                        <input asp-for="vatin" class="form-control text-right" />
                        <span asp-validation-for="vatin" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">VAT ra</label>
                        <input asp-for="vatout" class="form-control text-right" />
                        <span asp-validation-for="vatout" class="text-danger"></span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Diễn giải</label>
                        <input asp-for="tour_item" class="form-control" />
                        <span asp-validation-for="tour_item" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Ghi chú</label>
                        <input asp-for="srvnode" class="form-control" />
                        <span asp-validation-for="srvnode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Chi nhánh</label>
                        <select id="ddlChinhanh_" asp-for="chinhanh" asp-items="@ViewBag.chinhanh" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Điều hành</label>
                        <select id="ddlNguoidh_" asp-for="dieuhanh" asp-items="@ViewBag.dieuhanh" class="form-control select2" style="width:100%"></select>
                    </div>
                    @*<div class="clearfix"> </div>*@
                    <div class="form-group col-md-12">
                        <input type="button" class="btn btn-primary" id="btChendvTourProg" value="Đồng ý" />
                        <button type="button"  class="btn btn-default dong">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Asset/js/Tour/EditTourProgControl.js"></script>
<script>
    $('#ddlChinhanh_').off('change').on('change', function () {

            var chinhanh = $(this).val();
            var url = "/Tour/getUserByChinhanh";
            var ddlNguoidh_ = $('#ddlNguoidh_');
            ddlNguoidh_.empty();

            if (chinhanh != null && chinhanh != '') {
                $.getJSON(url, { chinhanh: chinhanh }, function (nguoidhs) {
                    var result = JSON.parse(nguoidhs);
                    if (result != null && !jQuery.isEmptyObject(result)) {                    
                        $.each(result, function (index, nguoidh) {

                            ddlNguoidh_.append($('<option/>', {
                                value: nguoidh.Username,
                                text: nguoidh.Hoten
                            })).trigger('change');
                        });
                    }
                    else {
                        ddlNguoidh_.empty();
                    };
                });
            }

    });
    $('#txtNgay').off('blur').on('blur', function () {
        var ngay = $(this).val();
        var sgtcode = $('#txtInsertSrvCode').val();
        var url = "/Tour/ngayExists";
        $.get(url, { sgtcode: sgtcode, ngay: ngay }, function (result) {
            if (result) {
                $("#btThemdvTourProg").attr('disabled', false).removeClass('ui-state-disabled');
                 $("#iktSongay").html("<span style='color:red'></span>");
            }
            else {
                $("#btThemdvTourProg").attr('disabled', true).addClass('ui-state-disabled');
                $("#iktSongay").html("<span style='color:red'>Ngày thứ " + ngay + " đã có</span>");
                var url = "/Tour/newDateTourProg";
                $.get(url, { sgtcode: sgtcode }, function (data) {
                    if (data > 0) {
                        $('#txtNgay').focus();
                        $('#txtNgay').val(data);
                    }
                });
            }
        })
    });
</script>