@model IEnumerable<ChuyenbayViewModel>

<link href="~/AdminLTE/plugins/jquery-ui/css/jquery-ui/themes/ui-darkness/jquery-ui.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Changbaydoan";
}
@section Scripts{
    <script src="~/Asset/js/Baocao/ChangbaydoanControl.js"></script>
    
}

<section class="content-header">
    <h1>
        Báo cáo các chuyến bay của đoàn
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a asp-action="index" asp-controller="Tour">Danh sách tour</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <div class="col-md-12">
                    <form id="frmChangbaydoan">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                Từ ngày
                                <input type="text" class="form-control text-center datepicker" id="txtTungay" value="@ViewBag.tungay" title="dd/MM/yyyy" name="tungay" />
                            </div>
                            <div class="col-md-2">
                                Đến ngày
                                <input type="text" class="form-control text-center datepicker" id="txtDenngay" value="@ViewBag.denngay" title="dd/MM/yyyy" name="denngay" />
                            </div>                           
                            <div class="col-md-2">
                                Thị trường
                                <select class="form-control " asp-items="@ViewBag.dsphongban" name="thitruong"></select>
                            </div>
                            <br />
                            <div class="col-md-2">
                                <span class="btn-group">
                                    <button type="submit" formaction="/Baocao/Changbaydoan" class="btn btn-default"><i class="fa fa-search"></i></button>                                
                                    <button type="submit" formaction="/Baocao/ChangbaydoanToExcel" formmethod="post" class="btn btn-success" title="Export danh sách to Excel"><i class="fa fa-file-excel-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <table class="table mytable">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>
                                    Ngày đến
                                </th>
                                <th>
                                    Ngày đi
                                </th>
                                <th>
                                    SK
                                </th>
                                <th>
                                    Đoàn
                                </th>
                                <th>
                                    Chặng bay
                                </th>
                                <th>
                                    Ghi chú
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.count > 0)
                            {
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td class="text-center" style="width:20px;">@item.stt</td>
                                <td style="width:100px;">
                                    @item.ngayden.ToString("dd/MM/yyyy")
                                </td>
                                <td style="width:100px;">
                                    @item.ngaydi.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-right">
                                    @item.sk
                                </td>
                                <td class="text-center" style="width:150px">
                                    @item.sgtcode
                                </td>
                                <td>
                                    @Html.Raw(item.lotrinh)
                                </td>
                                <td>
                                    @Html.Raw(item.ghichu)
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>


